body{
    height: 2500px;
}
* {
    margin: 0%;
    padding: 0%;
}
.container-fluid{
    position: relative;
}
.div2{
    flex-wrap: wrap;
}
.navbar-brand{
    position: absolute;
    left: 150px;
    color: #fff;
}
.active{
    display: flex;
    position: absolute;
    top: 10px;
    left: 680px;
    color: #fff;
}
.active1{
    display: flex;
    position: absolute;
    top: 10px;
    left: 810px;
    color: #fff;
}
.active2{
    display: flex;
    position: absolute;
    top: 10px;
    left: 920px;
    color: #fff;
}
.div{
    position: relative;
}
.p{
    position: absolute;
    bottom: 350px;
    left: 43%;
    color: #fff;
    font-size: 45px;
}
.p1{
    position: absolute;
    bottom: 320px;
    left: 43%;
    color: #fff;
    font-size: 20px;
}
.p2{
    position: absolute;
    bottom: 290px;
    left: 45%;
    color: #fff;
    font-size: 20px;
}
.container{
    position: relative;
    width: 100%;
}
.img{
    position: absolute;
    top: 750px;
    left: 190px;
}
.h4{
    position: absolute;
    top: 745px;
    left: 700px;
    color: rgb(110, 121, 219);
    font-size: 30px;
}
.h5{
    position: absolute;
    top: 812px;
    left: 790px;
    font-size: 16px;
    color: rgb(139, 136, 136);
}
.h6{
    position: absolute;
    top: 905px;
    left: 970px;
    font-size: 16px;
    color: rgb(128, 128, 228);
}
.p3{
    position: absolute;
    top: 810px;
    left: 700px;
    color: rgb(173, 168, 168);
}
.p4{
    position: absolute;
    top: 810px;
    left: 950px;
    color: rgb(173, 168, 168);
}
.p5{
    position: absolute;
    top: 833px;
    left: 700px;
    color: rgb(173, 168, 168);
}
.p6{
    position: absolute;
    top: 855px;
    left: 700px;
    color: rgb(173, 168, 168);
}
.p7{
    position: absolute;
    top: 903px;
    left: 700px;
    font-size: 16px;
    color: rgb(173, 168, 168);
}
.p8{
    position: absolute;
    top: 903px;
    left: 1040px;
    font-size: 16px;
    color: rgb(173, 168, 168);  
}
.p9{
    position: absolute;
    top: 920px;
    left: 700px;
    font-size: 16px;
    color: rgb(173, 168, 168);  
}
.p10{
    position: absolute;
    top: 938px;
    left: 700px;
    font-size: 16px;
    color: rgb(173, 168, 168);     
}
.bn{
    position: absolute;
    top: 988px;
    left: 700px;
    padding: 7px 25px;
    border-radius: 30px;
    
}
.h{
    position: absolute;
    top: 1150px;
    left: 220px;
    color: rgb(122, 120, 120);  
    font-size: 30px;  
}
.h22{
    position: absolute;
    top: 1150px;
    left: 530px;
    color: rgb(122, 120, 120);  
    font-size: 30px;    
}
.h44{
    position: absolute;
    top: 1150px;
    left: 840px;
    color: rgb(122, 120, 120);  
    font-size: 30px;   
}
.p11{
    position: absolute;
    top: 1190px;
    left: 250px;
    color: rgb(110, 121, 219);
    font-size: 13px;       
}
.p12{
    position: absolute;
    top: 1190px;
    left: 570px;
    color: rgb(110, 121, 219);
    font-size: 13px;  
}
.p13{
    position: absolute;
    top: 1190px;
    left: 890px;
    color: rgb(110, 121, 219);
    font-size: 13px;  
}
 /* Lorem1 */
.p14{
    position: absolute;
    top: 1230px;
    left: 190px;
    color: rgb(173, 168, 168);  
}
.p15{
    position: absolute;
    top: 1250px;
    left: 190px;
    color: rgb(173, 168, 168);    
}
.p16{
    position: absolute;
    top: 1270px;
    left: 190px;
    color: rgb(173, 168, 168);   
}
.p17{
    position: absolute;
    top: 1290px;
    left: 190px;
    color: rgb(173, 168, 168);   
}
 /* Lorem2 */
.p18{
    position: absolute;
    top: 1230px;
    left: 520px;
    color: rgb(173, 168, 168); 
}
.p19{
    position: absolute;
    top: 1250px;
    left: 520px;
    color: rgb(173, 168, 168); 
}
.p20{
    position: absolute;
    top: 1270px;
    left: 520px;
    color: rgb(173, 168, 168); 
}
.p21{
    position: absolute;
    top: 1290px;
    left: 520px;
    color: rgb(173, 168, 168); 
}
 /* Lorem3 */
.p22{
    position: absolute;
    top: 1230px;
    left: 830px;
    color: rgb(173, 168, 168); 
}
.p23{
    position: absolute;
    top: 1250px;
    left: 830px;
    color: rgb(173, 168, 168); 
}
.p24{
    position: absolute;
    top: 1270px;
    left: 830px;
    color: rgb(173, 168, 168); 
}
.p25{
    position: absolute;
    top: 1290px;
    left: 830px;
    color: rgb(173, 168, 168); 
}
.p26{
    position: absolute;
    top: 1490px;
    left: 420px;
    color: rgb(173, 168, 168); 
}
.p27{
    position: absolute;
    top: 1470px;
    left: 370px;
    color: rgb(173, 168, 168); 
}
.h0{
    position: absolute;
    top: 1410px;
    left: 580px;
    color: rgb(110, 121, 219);
    font-size: 30px;
}
.images{
    position: absolute;
    top: 1580px;
    left: 190px;
}
.images1{
    position: absolute;
    top: 1580px;
    left: 390px;
}
.images2{
    position: absolute;
    top: 1580px;
    left: 590px;
}
.images3{
    position: absolute;
    top: 1580px;
    left: 790px;
}
.images4{
    position: absolute;
    top: 1580px;
    left: 990px;
}



